// Define variables for your color scheme

// For example:
$red: #b21835;
$blue: #151E3F;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$turquoise: #2274A5;
$light-blue: #C9D6EA;
