.icon {
  text-align: left;
  padding-left: 10px;
  font-size: 30px;
  color: #B97375;
}

.navbar-container {
  box-shadow: 0 4px 6px 0 rgba(42,50,80,0.7),0 1px 0 0 rgba(42,50,80,0.7);
  background-color: rgba(42,50,80,1);
  width: 100%;
  height: 70px;
  transition: all 0.3s ease;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-words {
  padding: 10px;
  color: #B97375;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.navbar-words a {
  padding: 10px;
  color: #B97375;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.navbar-words :hover {
  color: #B97375;
  text-decoration: none;
}

.navbar-avatar {
  border-radius: 50px;
  width: 20px;
  height: 20px;
}
