.icon {
  text-align: left;
  padding-left: 10px;
  font-size: 30px;
  color: $red;
}

.navbar-container {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  background-color: rgba(42,50,80,1);
  width: 100%;
  height: 70px;
  transition: all 0.3s ease;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-words {
  padding: 10px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.navbar-words a {
  padding: 10px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

}

.navbar-words :hover {
  color: red;
  text-decoration: none;
}

.navbar-avatar {
  border-radius: 50px;
  width: 20px;
  height: 20px;
}



