.icon {
  text-align: left;
  padding-left: 10px;
}

.navbar-links {
  color: #3F4661;
  position: fixed;

}

.navbar-links a {
  color: #3F4661;
}

.navbar-links a:hover {
  color: #151E3F;
  text-decoration: none;
}

.navbar-container {
  background-color: rgba(201,214,234,0.7);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0%;
}
