.main-title {
  font-size: 30px;
  color: white;
  font-family: "Great Vibes", cursive;
}

.container-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner {
  background-size: cover;
  height: 500px;
  overflow: hidden;
  width: 100%;
  margin:0 auto;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    transition: 500ms all;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  max-width: 800px;
  width: 100%;
  margin-top: -90px;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 1px 4px rgba(0,0,0,0.23);
  border-radius: 4px;
}

input {
  border-radius: 10px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
  padding: 5px;
  background: transparent;
  border: 1px solid rgba(42,50,80,1);
  padding: 5px 20px 5px;
  color: #2A3250;
}

select {
  width: 250px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #2A3250;
  margin: 10px;
}

.banner-text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 25px;
  color: #2A3250;
}

.padding-h4 {
  padding-top: 60px;
}

.explanation-title {
  padding-top: 60px;
  text-align: center;

}

.row-h3 {
    font-size: 20px;
    padding-left: 10px;
    color: $red;
}

.bar-inputs {
  position: inline-flex;
}

.body-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.multi-tab {
  margin: 0 auto;
  height: 300px;
  width: 100%;
  max-width: 900px;
  padding-top: 20px;
  padding-bottom: 80px;
}

.index-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.jets-near-you {
  padding: 10px 0px;
}

.index-titles {
  padding-top: 20px;
  font-weight: bold;
  color: #2A3250;
  text-align: center;
  padding-top: 50px;
}

.index-titles:before {
    content: "\00a0";
    background-color: #051039;
    height: 1pt;
}

.index-titles:after {
    content: "\00a0";
    background-color: #051039;
    height: 1pt;
    margin-left: 2px;
}

