.heading {
  font-size: 60px;
  color: red;
  font-family: "Great Vibes", cursive;
  height: 400px;
  padding-top: 50px;
}

.banner {
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}

.search-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.search-bar {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  width: 800px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 1px 4px rgba(0,0,0,0.23);
  padding: 5px 0px;
}

.search-bar h3 {
  font-size: 22px;
  margin-top: 12px;
}

input {
  border-radius: 10px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  border: 1px solid rgba(42,50,80,1);
  padding: 5px 20px 5px;
  color: #2A3250;
  margin: 3px 0px;
}

select {
  width: 250px;
  font-family: 'Open Sans', sans-serif;
  color: #2A3250;
  margin: 3px 0px;
}

.explain {
  margin-top: 100px;
}

.explain a {
  text-decoration-line: underline;
}

h3 {
  font-size: 24px;
}

.jets-near-you {
  padding: 10px 0px;
}

.form-control {
  display: inline;
  width: 40%;
}


// .multi-tab {
//   margin: 10px;
// }

// .tab {
//   margin: 50px 0px;
// }
