.main-title {
  font-size: 60px;
  position: absolute;
  top: 90px;
  left: 600px;
  color: red;
  font-family: "Great Vibes", cursive;
}

.container-header {
  display: flex;
  justify-content: center;
  height: 450px;
}

.banner {
  background-size: cover;
  height: 450px;
  width: 100%;
  margin:0 auto;
  object-fit: cover;
  position: relative;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  position: absolute;
  height: 120px;
}

input {
  border-radius: 10px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
  padding: 5px;
  background: transparent;
  border: 1px solid rgba(42,50,80,1);
  padding: 5px 20px 5px;
  color: #2A3250;
}

select {
  width: 250px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #2A3250;
}

.banner-text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 25px;
  color: #2A3250;
}

#padding-h4 {
  padding-top: 60px;
}

