<h1>Your bookings</h1>
<head>

</head>
<body>
<% @bookings.each do |booking| %>
  <%= booking.booked_on %>
  <%= booking.returned_on %>
  <% if policy(booking).update? %>
    <%= link_to "Edit this booking", edit_booking_path(booking) %>
  <% end %>
  <% if policy(destroy).update? %>
    <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
</body>
