<h1>Your bookings</h1>
<head>

</head>
<body>
<% @bookings.each do |booking| %>
<%= booking.booked_on %>
<%= booking.returned_on %>
<%= link_to "Edit this booking", edit_booking_path(booking) %>
<%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</body>
