.footer {
  background: #b21835;
  color: #d8c7c7;
  padding: 20px 0px;
}

.footer-links {
  margin-bottom: 5px;
}

.footer-links a {
  color: #d8c7c7;
  text-decoration: none;
}
.footer-links a:hover {
  opacity: 0.6;
}
.footer .fa-heart {
  color: #D23333;
}

