<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<div class="navbar-container">
  <div><i class="far fa-paper-plane icon"></i></div>
  <div class="navbar-links">
    <span class="navbar-words"><%= link_to "Create your ad", @jets_path %></span>
    <span class="navbar-words"><%= link_to "Show your bookings", @bookings_path %></span>
    <span class="navbar-words"><%= link_to "Book your jet", @jet_bookings_path %></span>
    <span class="navbar-words"><%= link_to "Log In", @new_user_session_path %></span>
  </div>
</div>

