.booking-card {
  width: 1100px;
  height: 400px;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  input[type="submit"]{
    margin-left: 2px
  }
    .form-control{
    width: 40px;
  }
}

.booking-details{
  padding: 20px;
}

.booking-description {
  display: flex;
  align-items: center;
}

.booking-links {
  position: absolute;
  top: 350px;
}
.booking-header {
  font-weight: lighter;
}
.no-booking {
  font-size: 30px;
}
